{
  "presets": [
    ["es2015", { "modules": false }],
    "es2017",
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
